.item {
  margin: 0 auto;
  display: flex;
  gap: 15px;
  align-items: center;
  padding: 10px;
  cursor: pointer;
  width: 240px;
  border-radius: 10px;
  background-color: aliceblue;
  font-family: Avenir, Corbel, sans-serif;
  font-size: 18px;
  font-weight: 600;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.4);
}

.offline {
  display: block;
  margin-left: 10px;
  width: 15px;
  height: 15px;
  border-radius: 50%;
  background-color: red;
}

.online {
  display: block;
  margin-left: 10px;
  width: 15px;
  height: 15px;
  border-radius: 50%;
  background-color: green;
}
