.transactionHistory {
  margin: 0 auto 60px;
  /* margin-top: 60px; */
  width: 500px;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.4);
}

.transactionHistory > thead > tr {
  height: 60px;
  text-transform: uppercase;
  background-color: lightblue;
  font-family: Avenir, Corbel, sans-serif;
}

.transactionHistory > tbody > tr {
  height: 50px;
  background-color: aliceblue;
  font-family: Avenir, Corbel, sans-serif;
  text-align: center;
  font-size: 16px;
  font-weight: 500;
}

.transactionHistory > tbody > tr:nth-child(even) {
  background: whitesmoke;
}
